@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.page-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  align-items: center;
  color: white;
  margin: 0rem 3rem;
  position: relative;
}

.icon {
  color: white;
  font-size: xx-large;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  user-select: none;
}

.side-a {
  position: relative;
  padding: 1.5rem 0rem;
}

.h1 {
  font-family: La Belle Aurore;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 185px;
  /* color: #ffffff; */
  font-weight: bolder;
  margin: 1rem 0rem;
}

.h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  position: absolute;
  left: 5rem;
  bottom: 2rem;
}

.join-today {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.42em;
  position: absolute;
  left: 16rem;
  bottom: 0.5rem;
}

.background {
  background-image: url("../public/img/Arizona.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Top Large */
@media (min-width: 945px) and (max-width: 1050px) {
  .h1 {
    font-size: 80px;
  }
}

/* Medium */
@media (min-width: 768px) and (max-width: 945px) {
  .h1 {
    font-size: 60px;
  }
}

/* Break to Small */

@media (max-width: 768px) {
  .side-a {
    display: none;
  }
  .page-grid {
    grid-template-columns: 1fr;
  }
}
